<header style='text-align:center;'>
    <div>
      <div>
        <%= image_tag 'logo.png' %>
      <div>
      <div>
        <h1>
          株式会社ミノタケ
        </h1>
      </div>
    </div>
</header>
<div style='display:inline-block; width: 20%;'>
</div>
<div style='display:inline-block; width:60%;'>
  <div id='vision'>
    <h2>ビジョン</h2>
    <div>
      <p>ラクな未来をつくる。</p>
      <p>みんながラクで楽しくなる未来を届けるお手伝いをします。</p>
    </div>
  </div>
  <div id='works'>
    <h2>開発実績</h2>
    <ul>
      <li>ヘルスケア系SNSアプリのAPIサーバを実装（Ruby on Rails）</li>
      <li>金融系サービスの開発（Ruby on Rails ）</li>
      <li><a href='http://www.medokoro.com' target='_blank'>みどころ.com</a>（Ruby on Rails ）</li>
    </ul>
  </div>
  <div id='info'>
    <h2>会社概要</h2>
    <dl>
      <dt>商号</dt>
      <dd>株式会社ミノタケ</dd>
      <dt>事業内容</dt>
      <dd>
        <p>
          Webシステム開発
        </p>
        <p>
          Webサイト制作
        </p>
      </dd>
      <dt>所在地</dt>
      <dd>沖縄県那覇市古波蔵2-18-14 ギークハウス沖縄</dd>
      <dt>代表取締役</dt>
      <dd>玉城辰朗</dd>
    </dl>
  </div>
  <div id='contact'>
    <h2>お問い合わせ</h2>
    <p>メールでの問い合わせはもう少しお待ちください</p>
    <p><a href='https://www.facebook.com/pages/%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%83%9F%E3%83%8E%E3%82%BF%E3%82%B1/161795527346669', target='_blank'>Facebookページ</a>からのメッセージでも問い合わせも可能です</p>

  </div>
</div>
<div style='float:left; width:20%; display:block;'>

</div>
<div style='clear:both'></div>

<footer style='text-align:center; background-color: #F8F8F8;padding:20px 0 20px 0;'>
  Copyright © <%= DateTime.now.year %> 株式会社ミノタケ All rights reserved.
</footer>


