// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "Varela Round", Arial, "Hiragino Maru Gothic Pro", "HG丸ゴシックM-PRO", "メイリオ", Meiryo, verdana, arial, sans-serif;
}

dl {
  dt {
    margin-bottom: 10px;
    font-weight: bold;
  }
  dd {
    margin-bottom: 10px;
  }
}


